@import './animations.css';
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.columns:not(:last-child) {
    margin-bottom: -.75rem;
}

.footer {
    padding: 1rem;
}

input[type="checkbox"] {
    margin-left: .5rem;
}

.notification {
    margin-top: 1rem;
}

.hide {
    animation: .5s ease-out 0s 1 hideElement;
}

.box-notification {
    margin-top: 1rem;
    height: 64px;
}

.show {
    animation: .3s ease-out 0s 1 showElement;    
}
