@import "./animations.css";
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.buttons:not(:last-child) {
  margin-bottom: -0.5rem;
}

.footer {
  padding: 1rem;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
}

.notification {
  margin-top: 1rem;
}

.box-notification {
  margin-top: 1rem;
  height: 64px;
  margin-bottom: 1rem;
}

.navbar {
  background: none;
  width: 50px;
}

.button:hover {
  transition: all 0.3s ease-out;
}

.right {
  position: fixed;
  right: 0;
  bottom: 4%;
  left: 94%;
  z-index: 30;
}

th {
  cursor: pointer;
}

.table thead th:hover {
  transition: all 0.3s ease-out;
  background: hsl(0, 0%, 86%);
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  transition: all 0.3s ease-out;
}

.card {
  position: absolute;
  left: 60%;
  width: 250px;
  box-shadow: none;
}

.hero-body {
  padding: 5.25rem 1.5rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.card-button {
  padding: 0 2rem 0 2rem;
  align-self: center;
  margin: 0.5rem 0 0.25rem 25%;
}

.log-out {
  position: absolute;
  top: 10%;
  left: 90%;
}

h1 {
  margin-bottom: 1.5rem;
}
